<!DOCTYPE html>
{% load staticfiles %}

<html style="background:#8E8E8E">

<head>
<link rel="stylesheet" type="text/css" href="{% static 's_network/style.css' %}">
{% if user == username %}

<a href='/s_network/{{username}}' style='background:pink'>Cancel</a>

<div id="header">
<h1 style='font-size:300%'>Choose a profile picture</h1>
</div>

<div id="l_sidebar"></div>
<div id="r_sidebar"></div>
<form action={% url 'insert_photo' %} method='POST' enctype='multipart/form-data'>
	{% csrf_token %}
	<input type='file' name='the_file' accept='image/*'>
	<input type='submit'>
</form>
<br>
{% for pic in pic_list %}
	<!-- {{ pic }} -->
		<div class='img'>
			<img src='{% static pic %}'/>
			<br>
			<br>
		</div>

{% endfor %}

{% endif %}

{{ user }} is logged in.

</head>
</html>