<!DOCTYPE html>
{% load staticfiles %}

<html style="background:#8E8E8E">

<head>
<link rel="stylesheet" type="text/css" href="{% static 's_network/style.css' %}">

<a href='/s_network/{{username}}' style='background:pink'>Cancel</a>

<div id="header">
<h1 style='font-size:300%'>Search for a user</h1>
</div>

<div id="l_sidebar"></div>
<div id="r_sidebar"></div>

<div style='margin-top: 10px;'>
	<form action={% url 'search_results' %} method='POST'>
		{% csrf_token %}
	    <div class='grid_4'>
	        email? <br /><input type='text' name='email' size='20' placeholder='email' />	       
	        <br />
	        First name? <br /><input type='text' name='first_name' size='20' placeholder='first name' /> 
	        <br />
	        Last name? <br /><input type='text' name='last_name' size='20' placeholder='last name' />
	        <br />
	        username? <br /><input type='text' name='username' size='20' placeholder='username' />
	    </div>
	    <div class='grid_1'>
	        <input type='submit' value='Search' id='id_register_form'/>
	    </div>
	</form>
</div>

</head>
</html>